body {
  margin: 0;
}

main {
  margin: 0 30px;
}

#first-p {
  background-color: black;
  color: white;
}

.img-container img {
  width: 150px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: grey;
  padding: 0 30px;
}

nav {
  font-size: 18px;
  margin-right: 50px;
}

footer {
  text-align: center;
  background-color: gainsboro;
}